@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  /* font */
  --font-family-sans: "DM Sans", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: var(--font-family-sans);
    overflow-x: hidden;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply min-w-36.75 text-base leading-13.75 font-bold text-[#fdfdfd];
  }

  .btn-primary {
    @apply bg-indigo-600 hover:bg-indigo-700;
  }

}

@utility container {
  width: calc(100% - 40px);
  margin-inline: auto;
  @media (width >= theme(--breakpoint-lg)) {
    max-width: 1170px;
    width: calc(100% - 24px);
  }
}
